<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Added Successfully</title>
    <link rel="stylesheet" href="global.css" />
    <link href="output.css" rel="stylesheet" />
  </head>
  <body
    class="bg-gray-100 flex flex-col items-center justify-center h-screen text-center px-4"
  >
    <header>
      <h1 class="text-green-600 text-4xl font-bold animate-bounce">
        ✅ Home Registered Successfully!
      </h1>
    </header>
    <main class="mt-6">
      <a
        href="/"
        class="text-lg text-white bg-green-500 px-6 py-3 rounded-lg shadow-lg hover:bg-green-600 transition-transform transform hover:scale-105"
      >
        🔙 Go to Home
      </a>
    </main>
  </body>
</html>
