<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Done Successfully</title>
    <link rel="stylesheet" href="global.css" />
    <link href="output.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>Yes, your response has been added successfully!</h1>
    </header>
    <main>
      <p >
        Thank you for reaching out to us. We'll get back to you as soon as
        possible.
      </p>
      <a href="./home"
        ><button><p>Reach Out</p></button></a
      >
    </main>
  </body>
</html>
