<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="global.css">
    <link href="output.css" rel="stylesheet">
  </head>
  <body>
    <header><h1 class="text-lg">EuroCoder</h1></header>
    <main>
      <p>You're just one step behind.</p>
      <a href="./contact-us"><button><p>Reach Out</p></button></a>
    </main>
    
  </body>
</html>
